@import './base.css';

@media (hover: hover) {
  a:hover {
    background-color: hsla(284, 61%, 41%, 0.499);
  }
}
.dataTables_filter input {
  padding: 0.5em;
  border: 2px solid #818181;
  border-radius: 3px;
}

thead {
  background-color: #333333;
  color: #ffffff;
}
table{
  background-color: aliceblue !important;
  width: 100% !important;
}

.dataTables_length select{
  border: 2px solid #818181;
  border-radius: 3px;
}
@media  only screen and (max-width: 800px) {
  .dataTables_length{  
    margin-bottom: 10px;
  }
}